.entry-page1{
    background-image: url("https://i.ibb.co/5LKxHhX/img1.jpg");
    height: 38vh;
    max-width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.entry-page2{
    background-image: url("https://i.ibb.co/SfvRRzF/img2.jpg");
    height: 38vh;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.entry-page3{
    background-image: url("https://i.ibb.co/pWD6mqk/img3.jpg");
    height: 38vh;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.entry-page4{
    background-image: url("https://i.ibb.co/FDYxZK7/img4.jpg");
    height: 38vh;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

